profiles {
    github_actions {
        docker.enabled = true
        singularity.enabled = false
        
        params {
            max_cpus = 2
            max_memory = '6.GB'
            max_time = '2.h'
            
            // Skip heavy processes for CI
            skip_bigwig = true
            skip_markduplicates = true  
            skip_preseq = true
            skip_dupradar = true
            skip_qualimap = true
            skip_rseqc = true
        }
        
        process {
            cpus = { Math.min(2, task.attempt) }
            memory = { Math.min(6.GB, 4.GB * task.attempt) }
            time = { Math.min(2.h, 1.h * task.attempt) }
        }
        
        executor {
            name = 'local'
            cpus = 2
            memory = '6 GB'
        }
    }
}
